.stats-container {
    /* max-width: 1000px; */
    /* width: 80%; */
    background-color: #111827;
    color: #ffffff;
    /* border: 2px solid red; */
    /* padding-left:0 100px; */
    /* margin: auto; */
    /* padding-right: 200px; */
  }
  .skills-heading{
    margin-left: 40%;
    white-space: nowrap;
   /* border: 2px solid red; */
  }
  .stats-content {
    /* border: 2px solid yellow;  */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80%;
    margin: auto;
  }
  
  .stats-image {
    /* border: 2px solid red; */
    /* width: 20%; */
    width: 100%;
    height: auto;
  }
  
  .github-activity-calendar {
    /* border: 2px solid yellow;  */
    margin-left: 8rem;
    margin-top: 4rem;
    padding: 0 1rem;
  }
  
  .github-commits-graph {
    margin-top: 16px;
    margin-left: 8rem;
    display: none;
  }
  
  @media (min-width: 576px) {
    .stats-content {
      flex-direction: row;
    }
  
    .stats-image {
      max-width: 100%;
      height: auto;
    }
  }
  