.stats-container {
    /* max-width: 1000px; */
    /* width: 80%; */
    margin: 0 auto;
    padding: 0 100px;
    background-color: #111827;
    color: #ffffff;
    /* border: 2px solid red; */
  }
  .skills-heading{
    margin-left: 40%;
   
  }
  .stats-content {
    /* border: 2px solid yellow;  */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .stats-image {
    width: 100%;
    height: auto;
  }
  
  .github-activity-calendar {
    margin-top: 4rem;
    padding: 0 1rem;
  }
  
  .github-commits-graph {
    margin-top: 16px;
  }
  
  @media (min-width: 576px) {
    .stats-content {
      flex-direction: row;
    }
  
    .stats-image {
      max-width: 100%;
      height: auto;
    }
  }
  